@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|VT323|Oswald');

html, body {
  height: 100%;
  background-image: url('https://github.com/Em-Ant/fcc-course/raw/master/front-end_cert/projects/advanced/04-simon-game/images/retina_wood.png');
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 472px;
  height: 472px;
  border-radius: 100%;
  background-color: #333;
  box-shadow: 0px 0px 12px #222;
  position: relative;
}

.push {
  width: 200px;
  height: 200px;
  background-color: grey;
  border: 12px solid #333;
}

.center {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  background-color: #ECE7EE;
  border: 12px solid #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brand {
  font-family: 'Alfa Slab One', cursive;
  font-size: 3.2em;
  margin-top: 35px;
  color: #222;
  text-align: center;
}

.count {
  font-family: 'VT323', monospace;
  font-size: 2em;
  color: #DC0D29;
  background-color: #32050C;
  width: 50px;
  margin: auto;
  border-radius: 10px;
  border: 4px solid #222;
}

.round-btn {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 100%;
  margin: auto;
  border: 4px solid #444;
  box-shadow: 0px 2px 3px #222;
}

.sw-slot {
  width: 40px;
  height: 20px;
  background-color: #222;
  position: relative;
  top: 5px;
  border-radius: 2px;
}

.switch {
  width: 16px;
  height: 16px;
  background-color: #3193DE;
  position: relative;
  border: 2px solid #333;
  border-radius: 4px;
}

.green, .red, .yellow, .blue {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.green {
  background-color: #00a74a;
  clip-path: polygon(50% 50%, 100% 0, 100% 100%);
  top: 0;
  left: 0;
}

.red {
  background-color: #9f0f17;
  clip-path: polygon(50% 50%, 0 0, 100% 0);
  top: 0;
  right: 0;
}

.yellow {
  background-color: #cca707;
  clip-path: polygon(50% 50%, 100% 100%, 0 100%);
  bottom: 0;
  left: 0;
}

.blue {
  background-color: #094a8f;
  clip-path: polygon(50% 50%, 0 100%, 100% 100%);
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 500px) {
  .wrap {
    width: 300px;
    height: 300px;
  }

  .center {
    width: 140px;
    height: 140px;
    border-width: 8px;
  }

  .brand {
    font-size: 2em;
    margin-top: 20px;
  }
  
  .green, .red, .yellow, .blue {
    clip-path: none;
  }

  .green, .red, .yellow, .blue {
    border-radius: 100%;
  }
}
